.title {
  text-align: center;
  width: 100%;
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
  color: #ffffff;
  text-shadow: 5px 5px 4px #000000;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
}

.aboutheader {
  width: 100%;
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
  color: #ffffff;
  text-shadow: 5px 5px 4px #000000;
  margin-bottom: 0px;
  margin-top: 0px;
}

body {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("restaurant1.jpeg");
}

/* Taken from https://www.bypeople.com/css-box-shadow-effects/ */

.infoprob h3 {
  text-align: center;
  position: relative;
  top: 20px;
}

.solution h3 {
  text-align: center;
  position: relative;
  top: 20px;
}

.box {
  width: 90%;
  height: 200px;
  background: #fff;
  margin: 40px auto;
  padding: 15px;
}

.effect {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* Navigation template taken from Muhammad's Index CSS */

.navigation {
  margin: 0;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
}
