/* Taken from https://www.bypeople.com/css-box-shadow-effects/ */

.title {
  text-align: center;
  width: 100%;
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
  color: #ffffff;
  text-shadow: 5px 5px 4px #000000;
  margin-bottom: 0px;
  margin-top: 150px;
  font-family: 'Poppins';
}

body {
  background-color: blueviolet;
}

.documentationheader {
  width: 100%;
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
  color: #ffffff;
  text-shadow: 5px 5px 4px #000000;
  margin-top: 0px;
  font-family: 'Poppins';
}

p {
  text-align: center;
  position: relative;
  font-family: 'Poppins';
  font-size: 13px;
}

.box1 {
  width: 50%;
  height: 250px;
  background: #fff;
  float: right;
  padding: 15px;
  border-radius: 20px;
  opacity: 0.9;
  margin-right: 40px;
}

#computer1 {
  float: left;
  margin-left: 40px;
}

.separator {
  display: inline-block;
  margin-bottom: 500px;
}

.image1 {
  background-color: grey;
  display: inline-block;
}

/* Navigation */

.navigation {
  margin: 0;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
}
